.container{
    max-width: 60vw;
}
.error{
    color:brown;
}
.basic-btn{
    border: 4px solid black;
    background-color: transparent;
    padding:4px;
}
.basic-btn:hover{
    border-color: rgba(255,255,255,1);
    color:#7c7c7c;
    border-color:#6b6b6b;

}