/* primary: '#e0fbfc', // Light cyan
   onprimary:'#293241', // Gunmetal
   onprimary200:'#3F4D64', // Independance 
   onprimary100:'#7588a9', // shadow blue / input fields bg
   secondary: '#3d5a80', // bdazzled blue
   error: '#B00020', //  Red  */

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-link{
    @apply font-heading flex items-center justify-center text-lg text-secondary h-16 hover:text-onprimary;
} 
.btn{
    @apply font-heading w-full m-2 border-2 border-secondary border-solid py-0.5 px-3 hover:border-onprimary;
}
.welcome-form-btn{
    @apply font-heading w-full border-2 border-secondary border-solid py-0.5 hover:border-onprimary;
}
.error{@apply text-error text-sm font-bold uppercase}

.input-fields-welcome{
    @apply 
    bg-onprimary100 appearance-none border-2   
    border-gray-100 rounded w-full py-2 px-4 shadow-md 
    text-secondary leading-tight focus:outline-none
    focus:bg-white focus:border-secondary
}
.chatroom-container{
    display: grid; 
    height:100vh;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.3fr 2.1fr 0.6fr; 
    grid-template-rows: 0.7fr 0.6fr 1.7fr 1.7fr 0.6fr; 
    gap: 8px 8px; 
    grid-template-areas: 
      "logo header weather"
      "navbar chatwindow online"
      "navbar chatwindow online"
      "navbar input online"
      "logout footer footer";
}
.chatwindow { grid-area: chatwindow; }
.weather { grid-area: weather; }
.footer { grid-area: footer; }
.navbar { grid-area: navbar; }
.logo { grid-area: logo; }
.header { grid-area: header; }
.online { grid-area: online; }
.logout { grid-area: logout; }
.input {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.2fr 2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "options options options"
    "input-field input-field input-field"; 
  grid-area: input; 
}
.input-field { grid-area: input-field; }
.send { grid-area: send; }
.options { grid-area: options; }






